.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 5px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    grid-template-areas: 
        "hulk cap cap"
        "logo logo ironman"
        "thor spide widow";
}

.item {
    border: 3px solid black;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-1 { grid-area: hulk; }
.item-2 { grid-area: cap; }
.item-3 { grid-area: ironman; }
.item-4 { grid-area: thor; }
.item-5 { grid-area: logo; }
.item-6 { grid-area: spide; }
.item-7 { grid-area: widow; }
